<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.ipark"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/yi_ting"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.activity.SignInActivity"
            android:label="宜停" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".ui.activity.west_park"
            android:label="@string/title_activity_west_park" >
            <intent-filter>
                <action android:name="com.example.iPark.START_WEST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.east_park"
            android:label="@string/title_activity_east_park" >
            <intent-filter>
                <action android:name="com.example.iPark.START_EAST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.south_park"
            android:label="@string/title_activity_south_park" >
            <intent-filter>
                <action android:name="com.example.iPark.START_SOUTH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
